<?xml version="1.0"?>
<launch>
  <node pkg="trd_diff_controller" type="trd_diff_controller_node" name="trd_diff_controller_node">
    <param name="serialport_name" value="/dev/ttyUSB0"/>
    <param name="baudrate" value="38400"/>
    <param name="linear_coef" value="320.0" />
    <param name="angular_coef" value="60.0" />
    <!-- <param name="linear_coef" value="166.4" /> -->
    <!-- <param name="angular_coef" value="28.2" /> -->
  </node>
</launch>

