<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="false" />
    
    <!-- start up tr10 driver -->
    <include file="$(find tr10_launch)/launch/tr10_minimal.launch" />

    <!-- laser leishen -->
    
    <include file="$(find lslaser)/launch/leishen.launch">
    </include>
    

    <!-- astra RGB-D -->
    <!--   
    <include file="$(find tr10_launch)/launch/rgbd_astra.launch">
    </include>
    -->

    <!-- kinect RGB-D -->
    <!--
    <include file="$(find tr10_launch)/launch/rgbd_kinect.launch">
    </include>
    -->
  
    <node pkg="map_server" type="map_server" name="map_server"
        args="$(find tr10_launch)/maps/map_2105_leishen.yaml" />
    <!--   
    <node name="odom_map_broadcaster" pkg="tf" type="static_transform_publisher" 
	args="0 0 0 0 0 0 /map /odom 100" />
    -->

    <node pkg="amcl" type="amcl" name="amcl" >
        <remap from="scan" to="scan" />
    </node>
    
    <!-- move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true"> 
        <rosparam file="$(find tr10_launch)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tr10_launch)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tr10_launch)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find tr10_launch)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find tr10_launch)/config/base_local_planner_params.yaml" command="load" />
    </node>
  
</launch>

